﻿@using SFS_Projekt_ASP.NET_Identity.Domain
@model IEnumerable<Task>
@{
  bool isAdmin = User.IsInRole(Claims.Roles.ADMIN);
  isAdmin = true;
}
<table class="table-condensed">
    <tr>
        <th>Description</th>
        <th>State</th>
        <th>Responsible Person</th>
        <th>Complete</th>
        @if (isAdmin)
        {
        <th>Delete</th>
        }
        <th><!-- Validation Messages --></th>
    </tr>
    @foreach (Task t in Model)
    {
    <tr>
        <td>@t.Description</td>

        <td>
            @(t.IsCompleted ? "completed" : "not completed")
        </td>

        @if (string.IsNullOrEmpty(t.ResponsibleUser))
        {
        <td>
            <div id="@t.Id">
                @using (Ajax.BeginForm("AcceptTask", "Tasks", new { id = t.Id },
                new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "task-list"
                }))
                {
                @Html.AntiForgeryToken()
                <button type="submit">Accept</button>
                }
            </div>
        </td>
        }

        @if (!string.IsNullOrEmpty(t.ResponsibleUser))
        {
        <td>
            @t.ResponsibleUser
        </td>
        }

        <td>
            @if (!t.IsCompleted)
            {
                using (Ajax.BeginForm("CompleteTask", "Tasks", new { id = t.Id },
                  new AjaxOptions()
                  {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "task-list"
                  }))
                {
                <div>
                    @Html.AntiForgeryToken()
                    <input type="checkbox" value="Complete" name="Complete-@t.Id"
                           onchange="$('#submit-complete-@t.Id').click();" />
                    <button id="submit-complete-@t.Id" type="submit" style="display:none">Accept</button>
                </div>
                }
            }
        </td>

        @if (isAdmin)
        {
        <td>
            @using (Ajax.BeginForm("DeleteTask", "Admin", new { id = t.Id },
               new AjaxOptions()
               {
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "task-list"
               }))
            {
              @Html.HttpMethodOverride(HttpVerbs.Delete)
              @Html.AntiForgeryToken()
              <button type="submit">Delete</button>
            }
        </td>
        }

        <td>
            @Html.ValidationMessage($"Complete-{t.Id}")
        </td>
    </tr>
    }
</table>