﻿@{
  ViewBag.Title = "Tasks";
}
@using SFS_Projekt_ASP.NET_Identity.Domain
@model IEnumerable<Task>

@{
  bool isAdmin = User.IsInRole(Claims.Roles.ADMIN);
  isAdmin = true;
}
<h1>Tasks</h1>
<div id="task-list">
    @Html.Partial("_TaskList", Model)
</div>

@if (isAdmin)
{
    <hr />
    using (Ajax.BeginForm("CreateTask", "Admin", new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "task-list"
    }))
    {
        @Html.AntiForgeryToken()
        <label>
            Description:
            <input type="text" name="taskName" required />
        </label>
        <button type="submit">Create Task</button>
    }
}