﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* To align checkboxes */
input[type="checkbox"] {
  vertical-align: middle;
}

/* For spans that include validation messages */
.field-validation-error {
  color: red;
  padding-top: 5px;
  padding-left: 10px;
  vertical-align: middle;
}