﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>STM - Secure Task Management</h1>
    <p class="lead"></p>
    <p>Here you can manage your highly secret tasks without worring about security.</p>
    <p>Only authenticated users can view the tasks, whereas administrators can add and delete them.</p>
    <p>Please @Html.ActionLink("log in", "Login", "Account") to proceed.</p>
</div>